<div class="page-container" id="about" style="display:none;">
  <div class="subheader">About Me</div>
  <div class="location">Email me: <a href="mailto:danreedx86@gmail.com?subject=Hey%20Dan!">[HERE]</a> at danreedx86@gmail.com</div>
  <div class="details content-container">
    <img src="/assets/dan-reed.jpg" class="my-image">
    &emsp;Hey, I'm Dan. I'm a full stack engineer specializing in iOS. I've been writing iOS apps since 2011, and my apps have garnered hundred of thousands of downloads collectively. Projects I've worked on have been written about in <a href="http://techcrunch.com/2013/08/15/attachments-me-adds-egnyte-support/">Tech Crunch</a>, <a href="http://venturebeat.com/2014/09/25/yesware-launches-on-mobile-so-salespeople-can-close-deals-on-the-go/">Venture Beat</a> and <a href="http://www.huffingtonpost.com/quora/19-tools-a-vc-uses-daily_b_7967876.html">The Huffington Post</a> among others. I've had the pleasure of working in both the ruby/rails and Node.js/MEAN tech stacks. In addition to the apps I've published, I also run and maintain several web projects. Please visit my projects page or my github profile below to see more. 
    </br></br>
    &emsp;An SF transplant originally from the Detroit area, I own 2 cats and live on the east side of the mission. I like to spend my time expanding my horizons and learning. I'm endlessly curious, and I've got a voracious appetite for new skills. I speak japanese fluently and enough spanish to get by. Cooking (and eating) has been a lifelong passion of mine, I spent several years of college working in kitchens and I'm told I sling some pretty good food. Riding my bike is another personal joy, I do my best to ride it as frequently as I can. A self taught musician, I'm pretty comfortable with a guitar and a few other instruments. I've released (so far) one album that I wrote, produced and performed. Tinkering with hardware projects is another pastime of mine as well: have you ever made a DIY breathalyzer? There's a guide and an arduino sketch on my github page. I've built my own racing quadcopter too, but I've found that I'm much better at crashing it than flying it. I guess the next thing is gonna be rock climbing, somebody recently introduced me to it and it's really fun.
    </br></br>
    Don't hesitate to reach out if you'd like to chat or work together, cheers!
  </div>
</div>