<div class="page-container" id="base">
  <div class="subheader">Software Engineer</div>
  <div class="location">San Francisco, California</div>
  <div class="details">iOS, Javascript, Ruby/Rails, UI/UX & Photoshop</div>
</div>