<div class="page-container" id="code" style="display:none;">
  <div class="subheader">Code</div>
  <div class="details">Most work is also available on github. Click the screenies for more info.</div>
  <div class="code-container">
    <div class="code-item">
      <a href="http://www.yesware.com">
        <img class="screenshot" src="/assets/project_icons/yesware.png"/>
      </a>
      <div class="code-item-title">Yesware</div>
      <div class="code-item-description">In late 2013, Yesware acquired attachments.me. I work for yesware now, on various projects.</div>
      <div class="code-item-technologies">iOS, ruby/rails, javascript, UI/UX</div>
    </div>
    <div class="code-item">
      <a href="http://www.starshipchristmas.com">
        <img class="screenshot" src="/assets/project_icons/starship_christmas.png"/>
      </a>
      <div class="code-item-title">Starship Christmas</div>
      <div class="code-item-description">I made this game last christmas for some of the kids in my family. I did everything for the game myself, and the characters are all real kids..</div>
      <div class="code-item-technologies">HTML5, Javascript website</div>
    </div>
    <div class="code-item">
      <a href="http://www.spinnerhell.com">
        <img class="screenshot" src="/assets/project_icons/spinner_hell.png"/>
      </a>
      <div class="code-item-title">Spinner Hell</div>
      <div class="code-item-description">I made this as a joke one day, don't you hate it when websites take forever to load? The fire effects took forever.</div>
      <div class="code-item-technologies">Canvas, Javascript website</div>
    </div>
    <div class="code-item">
      <a href="https://chrome.google.com/webstore/detail/anaglyphic/ljibdnhgcmokiamcmjfompnkebpkfolg?hl=en-US">
        <img class="screenshot" src="/assets/project_icons/anaglyphic.png"/>
      </a>
      <div class="code-item-title">Anaglyphic</div>
      <div class="code-item-description">This is a chrome extension that can take any website with text and turn it into a 3d anaglyph. get your blue/red 3d glasses and check out twitter.</div>
      <div class="code-item-technologies">Chrome extension</div>
    </div>
    <div class="code-item">
      <a href="http://www.dan-reed.com/cats">
        <img class="screenshot" src="/assets/project_icons/space_cats.png"/>
      </a>
      <div class="code-item-title">Space cats</div>
      <div class="code-item-description">My 404 page is a little asteroids game of my cats flying through space, shooting pizzas.</div>
      <div class="code-item-technologies">HTML5 canvas</div>
    </div>
    <div class="code-item">
      <a href="http://www.dan-reed.com/images/code/moji_chan.jpg">
        <img class="screenshot" src="/assets/project_icons/moji_chan.jpg"/>
      </a>
      <div class="code-item-title">Moji Chan</div>
      <div class="code-item-description">This is an iOS app that helps more advances students practice japanese. Helps students with memorization, writing practice, stroke order and more.</div>
      <div class="code-item-technologies">iOS, iPhone/iPad universal</div>
    </div>
    <div class="code-item">
      <a href="http://bit.ly/1dc6ENL">
        <img class="screenshot" src="/assets/project_icons/attachments_me.jpg"/>
      </a>
      <div class="code-item-title">Attachments.me</div>
      <div class="code-item-description">(Now defunct) Attachments.me was an attachment-centric way to use email. The iPhone app I architected had over 100,000 downloads, and I helped scale the company from 0 - 250,000 users.</div>
      <div class="code-item-technologies">iOS, ruby/rails, javascript</div>
    </div>
    <div class="code-item">
      <a href="https://itunes.apple.com/us/app/gana-kun/id452692518?mt=8">
        <img class="screenshot" src="/assets/project_icons/gana_kun.jpg"/>
      </a>
      <div class="code-item-title">Gana Kun</div>
      <div class="code-item-description">This iOS app helps beginner jaanese students learn their hiragana and katakana.</div>
      <div class="code-item-technologies">iOS</div>
    </div>
  </div>
</div>