<div class="page-container" id="code" style="display:none;">
  <div class="subheader">Code</div>
  <div class="details">Most work is also available on my <a id="github" href="https://github.com/dreed1">github</a> profile. Click the screenies for more info.</div>
  <div class="code-container">
    <div class="code-item content-container">
      <a href="http://www.goodeggs.com">
        <img class="screenshot" src="/assets/project_icons/ge-logo.png"/>
      </a>
      <div class="code-item-title">Good Eggs</div>
      <div class="code-item-description">I worked on the team at Good Eggs, helping developing the iOS app there. We wrote it in swift, using a Node.js backend we also wrote ourselves. I also worked on the web app, helping build the features for subscriptions and bundles.</div>
      <div class="code-item-technologies">Swift, Node.js</div>
    </div>
    <div class="code-item content-container">
      <img class="screenshot" src="/assets/project_icons/quadcopter.jpg"/>
      <div class="code-item-title">Racing quadcopter</div>
      <div class="code-item-description">I built an FPV (first person view) racing quadcopter. I really enjoy hardware projects, and this was one of my favorites. I'm great at crashing it too :)</div>
      <div class="code-item-technologies">mostly soldering and reading</div>
    </div>
    <div class="code-item content-container">
      <a href="http://www.yesware.com">
        <img class="screenshot" src="/assets/project_icons/yesware.png"/>
      </a>
      <div class="code-item-title">Yesware</div>
      <div class="code-item-description">Yesware acquired Attachments.me in late 2013, I led the team at yesware developing their iOS app. Yesware builds email tools for salespeople (email tracking, scheduled sending, no reply reminders, etc), and our SF team ported/created features from the existing webapp into the new iOS app.</div>
      <div class="code-item-technologies">iOS, ruby/rails, javascript, UI/UX</div>
    </div>
    <div class="code-item content-container">
      <a href="http://www.starshipchristmas.com">
        <img class="screenshot" src="/assets/project_icons/starship_christmas.png"/>
      </a>
      <div class="code-item-title">Starship Christmas</div>
      <div class="code-item-description">(heroku free tier, may take a few seconds to load)</br></br>I made this game one christmas for some of the kids in my family. The characters are all real kids. Graphics, sound, programming all handmade by yours truly.</div>
      <div class="code-item-technologies">HTML5, Javascript</div>
    </div>
    <div class="code-item content-container">
      <a href="http://www.spinnerhell.com">
        <img class="screenshot" src="/assets/project_icons/spinner_hell.png"/>
      </a>
      <div class="code-item-title">Spinner Hell</div>
      <div class="code-item-description">(heroku free tier, may take a few seconds to load)</br></br>Don't you hate it when websites take forever to load? Dreamt up the idea for this and made it in a weekend.</div>
      <div class="code-item-technologies">Canvas, Javascript</div>
    </div>
    <div class="code-item content-container">
      <a href="https://chrome.google.com/webstore/detail/anaglyphic/ljibdnhgcmokiamcmjfompnkebpkfolg?hl=en-US">
        <img class="screenshot" src="/assets/project_icons/anaglyphic.png"/>
      </a>
      <div class="code-item-title">Anaglyphic</div>
      <div class="code-item-description">This is a chrome extension that can take any website with text and turn it into a 3d anaglyph. get your blue/red 3d glasses and check out twitter.</div>
      <div class="code-item-technologies">Chrome extension</div>
    </div>
    <div class="code-item content-container">
      <a href="http://www.dan-reed.com/404_example">
        <img class="screenshot" src="/assets/project_icons/space_cats.png"/>
      </a>
      <div class="code-item-title">Space cats</div>
      <div class="code-item-description">My 404 page is a little asteroids game of my cats flying through space, shooting pizzas. No, it doesn't really make sense.</div>
      <div class="code-item-technologies">HTML5, Javascript</div>
    </div>
    <div class="code-item content-container">
      <a href="http://www.dan-reed.com/images/code/moji_chan.jpg">
        <img class="screenshot" src="/assets/project_icons/moji_chan.jpg"/>
      </a>
      <div class="code-item-title">Moji Chan</div>
      <div class="code-item-description">This is an iOS app that helps more advances students practice japanese. Helps students with memorization, writing practice, stroke order and more. It's got flash cards, writing practice, voice coaching, and plenty more.</div>
      <div class="code-item-technologies">iOS, iPhone/iPad universal, objective-C</div>
    </div>
    <div class="code-item content-container">
      <a href="http://bit.ly/1dc6ENL">
        <img class="screenshot" src="/assets/project_icons/attachments_me.jpg"/>
      </a>
      <div class="code-item-title">Attachments.me</div>
      <div class="code-item-description">(Now defunct) Attachments.me was an attachment-centric way to use email. The iPhone app I architected had over 100,000 downloads, and I helped scale the company from 0 - 250,000 users.</div>
      <div class="code-item-technologies">iOS, ruby/rails, javascript</div>
    </div>
    <div class="code-item content-container">
      <a href="https://itunes.apple.com/us/app/gana-kun/id452692518?mt=8">
        <img class="screenshot" src="/assets/project_icons/gana_kun.jpg"/>
      </a>
      <div class="code-item-title">Gana Kun</div>
      <div class="code-item-description">This iOS app helps beginner japanese students learn their hiragana and katakana. I initially learned the japanese alphabets through mnenonic devices, and I tried to pass my tricks on.</div>
      <div class="code-item-technologies">iOS, objective-C</div>
    </div>
  </div>
</div>