<div class="page-container" id="music" style="display:none;">
  <div class="subheader">Music</div>
  <div class="details">This is my chiptunes album, you can find it most online music stores.</div>
  <div class="details">I also play the guitar, with minor drumming ability.</div>
  <iframe src="https://embed.spotify.com/?uri=spotify:album:3080K400yeUboXKLTz6EZl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>