<div class="page-container" id="music" style="display:none;">
  <div class="subheader">Music</div>
  <div class="details">I play a variety of instruments, most of them poorly. Here's a chiptunes album I've released:</div>
  <iframe src="https://embed.spotify.com/?uri=spotify:album:3080K400yeUboXKLTz6EZl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>