<div id="bkgd-cover-image"></div>
<%= render :partial => '/landing/base' %>
<%= render :partial => '/landing/code' %>
<%= render :partial => '/landing/music' %>
<%= render :partial => '/landing/photos' %>