
<div class="landing-container">
  </br>
  <div class="picture-cluster">
    <img class="cluster-image" src="/images/landing/landing_pic_1.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_2.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_3.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_4.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_5.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_6.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_7.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_8.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_9.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_10.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_11.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_12.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_13.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_14.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_15.jpg"/>
    <img class="cluster-image" src="/images/landing/landing_pic_16.jpg"/>
  </div>
  </br>
  <div class="greetings">
    I'm Dan Reed, a software engineer in San Francisco. I work mostly with ruby/rails, iOS, and javascript. In my spare time I also ride my bike, play guitar, and share two cats with my girlfriend. 日本語とも話せます。 I'm currently employed at <a class="text-link" href="https:attachments.me"> Attachments.me </a>.
  </div>
</div>