Options -MultiViews
PassengerResolveSymlinksInDocumentRoot on
#Set this to whatever environment you'll be running in
RailsEnv production
RackBaseURI /
PassengerAppRoot /home1/examplec/home_page
SetEnv GEM_HOME /home1/examplec/ruby/gems

