<div class="music-container">
  </br>
  <ul class="music-song-list">
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/adventure.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Adventure</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/bladeRunner.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Blade Runner</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/bladeRunnerV2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Blade Runner (v2)</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/gysahlGreens.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Gysahl Greens</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/level1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Minigame level 1</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/level2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Minigame level 2</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/level3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Minigame level 3</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/robotcowboy.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Robot Cowboy</div>
    </li>
    <li class="music-song-item">
      <audio class="audio-player" controls>
        <source src="/audio/tripleDragon.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="audio-song-title">-- Triple Dragon</div>
    </li>
  </ul>

  <div id="admonishment"> I hope someone else can enjoy this music. Please, email me(danreedx86@gmail.com) if you do. I'd be interested to hear from you. Works best in chrome or firefox I'd bet. Shame on you if you're using anything else. </div>
</div>