<div class="music-container">
  </br>
  

  <div id="admonishment">I got an album of chiptunes. Check it out on itunes or wherever. <a href="https://itunes.apple.com/us/album/a-winner-is-you!/id807793434">Bit Flipper - A Winner Is You!</a></br>Please, email me(danreedx86@gmail.com) if you want to chat or anything.</div>
</div>