<div class="photos-container">
  <div class="picture-cluster center">
    <% @list.each do |i| %>
      <%= image_tag("http://farm#{i.farm}.staticflickr.com/#{i.server}/#{i.id}_#{i.secret}.jpg", :class =>"cluster-image") %>
    <% end %>
  </div>
</div>