<div class="code-container">
  <ul class="code-list">
    <li class="code-item">
      <a href="https://attachments.me">
        <img class="code-item-image" src="/images/code/attachments_me.jpg"/>
      </a>
      <a class="code-item-link" href="https://attachments.me">Attachments.me</a>
      </br>
      <span class="code-item-description">
        Attachments.me makes it easy to connect your gmail inbox to the cloud. We provide a variety of solutions to help organize and streamline your workflow.
      </span>
    </li>
    <li class="code-item">
      <a href="https://itunes.apple.com/us/app/gana-kun/id452692518?mt=8">
        <img class="code-item-image" src="/images/code/gana_kun.jpg"/>
      </a>
      <a class="code-item-link" href="https://itunes.apple.com/us/app/gana-kun/id452692518?mt=8">Gana Kun</a>
      <div class="code-item-description">
        Gana kun helps beginner Japanese students learn both the written alphabets of Japanese: hiragana and katakana. It does this through the use of mnemonic devices.
      </div>
    </li>
    <li class="code-item">
      <a href="http://itunes.apple.com/us/app/kanji-practice-dictionary/id528962659?mt=8">
        <img class="code-item-image" src="/images/code/moji_chan.jpg"/>
      </a>
      <a class="code-item-link" href="http://itunes.apple.com/us/app/kanji-practice-dictionary/id528962659?mt=8">Moji Chan</a>
      <div class="code-item-description">
        Moji Chan helps more advanced sutdents learn the thousands of kanji in the Japanese language. It has definitions, pronunciations, flashcards, and writing practice.
      </div>
    </li>
  </ul>
</div>