// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-container {
  width: 100%;
  text-align: center;

  .greetings {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
  }
}

.cluster-image {
      cursor: hand;
      margin: 2px;
      width: auto;
      height: 180px;
      border: 1px solid black;
      transition: all 0.1s ease-out;
    }

.picture-cluster {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    
  }

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

#cboxContent {
  border: 2px solid white;
  box-shadow: 0px 0px 7px 3px rgba(242,242,242,0.8);
}

:focus {
    outline: none;
}