$white: rgba(255,255,255,1);

$font-xl:27px;
$font-big:20px;
$font-medium:17px;
$font-small:14px;

$sunset-mid: #5f5442;
$sunset-dark: #38342e;

$translucent-mid: rgba(95,84,66,0.47);
$translucent-dark: rgba(56,52,46,0.47);

$translucent-background: rgba(198,184,169,0.54);

body {
  margin: 0px;
  left: 0px;
  top: 0px;

  min-width:950px;
  
  font-family: 'Open Sans', sans-serif;

  padding: 80px 30px;
}

.spacer-10 {
  height: 10px;
}

.page-container {
  color: $sunset-dark;
  .subheader {
    font-size: $font-big;
    font-weight: 700;
    line-height: 20px;
  }

  .details {
    margin-top: 27px;
    margin-bottom: 19px;
    font-size:$font-small;
    font-weight: 300;
  }
}

#base {
  .location {
    font-size:$font-medium;
    font-weight: 400;
  }
}

#photos {
  .photo-container {
    background: rgba(0,0,0,0.1);
    height: 87%;
    width: 100%;
    overflow: scroll;
  }
}

#code {
  .code-container {
    height: 86%;
    width: 100%;
    min-width: 900px;
    overflow: scroll;
  }

  .code-item {
    display:inline-block;
    margin: 5px;
    width: 46%;
    min-width: 480px;
    position: relative;

    .screenshot {
      float: left;
      background: rgba(255,255,255,0.2);
      height: 160px;
      width: 160px;
      margin-right: 10px;
      border: 1px solid $translucent-mid;
      border-radius: 4px;
    }

    .screenshot:hover {
      border: 1px solid $translucent-dark;
    }

    .code-item-title {
      font-size: $font-big;
      position: absolute;
      left: 190px;
      top: 15px;
    }

    .code-item-description {
      font-size: $font-medium;
      font-weight: 300;

      border: 0px solid;
      border-radius: 2px;

      position: absolute;
      left: 190px;
      top: 40px;
      right: 15px;
      bottom: 35px;
      overflow: auto;
      background: rgba(255,255,255,0.09);
    }

    .code-item-technologies {
      position: absolute;
      bottom: 12px;
      left: 190px;

      font-size: $font-small;
      font-weight: 300;
    }
  }
}

#bkgd-cover-image {
  position: fixed;
  top: 0;
  left: 0px;
  height:100%;
  width: 100%;
  background: url("/assets/bkgd-sunset.png") no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.content-container {
  padding: 15px;
  background: $translucent-background;
  border: 0px solid;
  border-radius: 6px;
}

.my-image {
  width: 200;
  height: 200;
  float: left;
  margin: 0 15 0 0; 
  border: 0px solid;
  border-radius: 4px;
}

/* main header */

.main-header-container {
  
  height: 80px;
  width: 100%;
  min-width:950px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .main-header-title {
    font-size: $font-xl;
    float: left;
    color: $sunset-mid;
    font-weight: 700;
    margin-left: 30px;
    line-height: 80px;
  }

}

/* Menu List */

.main-header-list {
  float: right;
  list-style-type:none;
  font-size: $font-big;
  font-weight: 300;
  margin: 0px;
  
  .main-header-home {
    color:#000;
  }

  li {
    float: inherit;
    display: inline-block;
    cursor:pointer;
    margin-right: 25px;
    margin-top: 23px;
    height: 38px;
    line-height:38px;
    text-align: center;
    color: $sunset-mid;
  }
  li:hover {
    background-color: rgba(0,0,0,0.0); 
    color: $sunset-dark;
  }
  #main-header-music {
    background-image:url('music-icon-normal.png');
    background-size: 22px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 36px;
  }
  #main-header-music:hover {
    background-image:url('music-icon-hover.png');
    background-size: 22px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 36px;
  }
  #main-header-code {
    background-image:url('code-icon-normal.png');
    background-size: 42px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 50px;
  }
  #main-header-code:hover {
    background-image:url('code-icon-hover.png');
    background-size: 42px 30px;
    background-repeat:no-repeat;
    padding-left: 50px;
  }
  #main-header-about {
    background-image:url('icon-card.png');
    background-size: 37px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 55px;
  }
  #main-header-about:hover {
    background-image:url('icon-card-hover.png');
    background-size: 37px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 55px;
  }
  #main-header-photos {
    background-image:url('photos-icon-normal.png');
    background-size: 37px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 55px;
  }
  #main-header-photos:hover {
    background-image:url('photos-icon-hover.png');
    background-size: 37px 30px;
    background-repeat:no-repeat;
    background-position: 4px 4px;
    padding-left: 55px;
  }
}

a {
  text-decoration:none;
  color: $sunset-mid;
}

a:hover {
  color: $sunset-dark;
}

/* main footer */

.main-footer-container {
  margin-top: 25px;
  width: 100%;
  min-width:950px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  left: 0;
  bottom: 0;
  color: $white;

  .main-footer-links-container {
    text-align: center;
    padding: 8px;
    a {
      margin: 45px;
      color: rgba(255,255,255,0.8);
    }
    a:hover {
     color: #fff;
    }
    #github {
      background-image:url('icon-github.png');
      background-size: contain;
      background-repeat:no-repeat;
      padding-left: 46px;
    }
    #facebook {
      background-image:url('icon-facebook.png');
      background-size: contain;
      background-repeat:no-repeat;
      padding-left: 30px;
    }
    #twitter {
      background-image:url('icon-twitter.png');
      background-size: contain;
      background-repeat:no-repeat;
      padding-left: 40px;
    }
    #linkedin {
      background-image:url('icon-linkedin.png');
      background-size: contain;
      background-repeat:no-repeat;
      padding-left: 40px;
    }
  }
}

/* ANIMATIONS */

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}