<div class="main-footer-container">
  <div class="main-footer-links-container">
    <a id="github" href="https://github.com/dreed1">github</a>
    <a id="facebook" href="https://www.facebook.com/danreedx86">facebook</a>
    <a id="twitter" href="https://twitter.com/DanReedx86">twitter</a>
    <a id="linkedin" href="https://www.linkedin.com/in/danreedx86">linkedin</a>
  </div>
</div>
