<div class="main-header-container">
  <a class="main-header-title" href="#">Dan Reed</a>
  <ul class="main-header-list">
    <!-- <li id="main-header-about">About Me</li> -->
    <li id="main-header-music">Music</li>
    <li id="main-header-code">Projects</li>
    <li id="main-header-blog">Blog</li> 
  </ul>
</div>