<div class="main-header-container">
  <a class="main-header-title" href="#">Dan Reed</a>
  <ul class="main-header-list">
    <li id="main-header-music">Music</li>
    <li id="main-header-photos">Photos</li>
    <li id="main-header-code">Code</li>
  </ul>
</div>